.place__image {
  width: 100%;
  height: 320px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .place__image {
    height: 346px;
  }
}



@media screen and (min-width: 1024px) {
  .place__image {
    min-width: 440px;
    height: 440px;
  }
}

@media screen and (min-width: 1240px) {
  .place__image {
    min-width: 480px;
    height: 480px;
  }
}