.place__image{
  width: 100%;
  padding-bottom: 100% ;
  object-position: center;
  background-size: cover;
}

  
  
  /*margin-top: 32px;
  object-fit:cover;
  object-position: center;
}

@media screen and (min-width: 768px) {
  .place__image{
    margin-top: 0;
    /*max-width: 340px;*/
    
 
@media screen and (min-width: 1024px) {
  place__image{
    max-width: 440px;
    
  }
}

  @media screen and (min-width: 1240px) {
    place__image{
      max-width: 480px;
      
    }
  }