.place__paragraph{
  font-size: 16px;
  line-height:1.6em;
  font-weight:normal;
  color:#FFFFFF;
  width: 90%;
  text-align: start;
  margin: 32px auto 0;
}

.place__paragraph:nth-child(2){
  margin-top: 25px;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .place__paragraph{
    margin : 0;
    max-width: 352px;
  }
  .place__paragraph:nth-child(2){
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  .place__paragraph{
    font-size: 18px;
    line-height:29px;
    max-width: 456px;
  }
}

  @media screen and (min-width: 1240px) {
    .place__paragraph{
      max-width: 484px;
    }
  }