@media screen and (min-width: 768px) {
  .place {
    display: grid;
    gap: 48px 28px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    margin-bottom: 72px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.place:last-child {
  margin-bottom: 0;
}


@media screen and (min-width: 1024px) {
  .place {
    gap: 48px 32px;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1240px) {
  .place {
    gap: 48px 40px;

  }
}